# Files in subfolders
data/*
gen/analysis/temp/*
gen/data-preparation/temp/*
gen/paper/temp/*
.Rproj.user/*

# RStudio files in root directory
.Rproj.user
.RData
.RHistory
investigating-airbnb-group-06.Rproj
